.NE-text-box {

    .NE-text-cont {
        word-break: break-word;
        float: left;
        margin-top: -5px;
        margin-bottom: -3px;

        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }
    }

    .NE-text-size-13 {
        font-size: 13px;
        line-height: 18px;
    }

    .NE-text-size-15 {
        font-size: 15px;
        line-height: 20px;
    }

    .NE-text-size-17 {
        font-size: 17px;
        line-height: 22px;
    }

    .NE-text-size-19 {
        font-size: 19px;
        line-height: 24px;
    }
}